@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz@5..1200&family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root{
  --fundo-cor:  #000000;
  --sg-fd-cor: #FFC22F;
  --cor-texto: #000000;
  --cor-principal: #FFAC10;
  --cor-principal2: #ffffff;
  --cor-Detalhes: #ffffff;
  --cor-fundo: #f2f2f2;
}
html {
  font-size: 62,5%;
  overflow-x: hidden;
}

body{
  background: var(--cor-fundo);
  color:var(--cor-texto);
  
  background-image: linear-gradient(to bottom, #a4b390, #2c2c2c); /* Gradiente de cima para baixo */
  color: var(--cor-texto);
}
/* Inicio Menu */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5% 0 2%;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}
.header.headercolor{
  background-color: var(--fundo-cor);
}

.header .logo{
  display: flex;
  margin: 20px 10px 10px 0;
}
.imglogo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 15px 10px 15px;
  width: 50px;
  height: auto;
  float: left;
}
/*Logo Adapv*/
.logo{
  font-size: 27px;
  color: var(--cor-principal2);
  font-weight: 600;
}
    /* ------Def Animação | Formatação Menu------ */
  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar a{
  font-size: 19px;
  color: var(--cor-principal2);
  margin-left: 27px;
  transition: 0.5s;
}

  /*!  ------Def Animação | Formatação Menu BUTOON------ */
  .navbar .a{
    font-size: 19px;
    color: var(--cor-Detalhes);
    transition: 0.5s;
}

.navbar button{
    color: var(--sg-fd-cor);
    background: transparent;
    border: solid 1px var(--cor-principal);
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}

.navbar button:hover{
    background-color: var(--cor-principal);
    color: white;
    transition: 0,5s; 
}
  /* ------Def Animação | Formatação Menu------ */
.navbar a:hover,
.navbar a.ativo {
    color: #F58634;
}

.bn{
  color: white;
  font-size:18px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.5s;
}
.bn a:hover{
  color: #ffa500;
}
.topo{
  display: flex;
  align-items: center;
  background: url(imagens/retrato-de-cao-pastor-alemao-em-iluminacao-gradiente.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.blocktexto{
  align-items: center;
  margin: 150px 0 0 200px;
  width: 600px;
}
.titulo{
  display: flex;
  color: white;
  font-size: 40px;
  font-weight: bolder;
}
.textotopo{
  display: flex;
  text-align: left;
  color: white;

}
/* Fim Menu */
.subtitulo {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  font-weight: 600;
  font-size: 25px;
  color: white;
}
.adotar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  padding: 20px;
  margin-bottom: 300px;
}

.adoption-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.animal-card {
  width: 100%;
  height: 230px;
  padding: 10px;
  border: 1px solid #bbbbbb;
  text-align: center;
  border-radius: 10px;
  background-color: #bbbbbb;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona transição suave para cor de fundo e transformação */
}

.animal-card:hover{
  background-color: var(--cor-principal);
  border: 1px solid var(--cor-principal);
}

.animal-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
  transition: transform 0.3s ease; /*transição de zoom*/
}

.animal-card:hover img {
  display: none;
}

.animal-card:hover .idade{
  display: none;
}
.animal-card:hover .info{
  display: block !important;
}

.animal-card h3,
.animal-card p {
  margin: 5px 0;
}

.animal-card .adoption-button {
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
}

.fundo{
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: orange;
  padding: 0 10px 0 10px;
  justify-content: space-between;
}
.cpyrght{
  color: white;
}
.dsnvlvd{
  color: white;
}
@media (max-width: 850px){
  #icone-menu{
      display: block;
  }
  .header{
    display: block;
    padding: 0 25%
  }
  .navbar{
      display: flex;
      justify-content: center;
      align-items: center;
      top: 100%;
      left: 0;
      width: 100%;
  }
  .navbar a{
      font-size: 15px;
      margin: 0px 6px ;
  }
  .navbar .a{
    font-size: 15px;
  }
  .navbar button{
    width: 70px;
  }

  .imglogo{
    width: 40px;
    justify-content: center;
  }
  .logotopo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blocktexto{
    display: block;
    font-size: small;
    margin: 70px 0 0 30px;
    width: 600px;
  }
  .topo{
    display: flex;
    justify-content: center;
  }
}

